<div class="container">
  <div class="row">
    <ng-container *ngIf="account$ | async as account">
      <h4>
        Balance:
      </h4>
      <h3>
        {{account.amount}}
      </h3>
    </ng-container>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
