<div class="row">

  <div class="col-sm-12">
    <ng-container *ngIf="jackpot$ | async as jackpot">
      <div class="col-sm-12 flex-row">
        <div class="row">
          <h4>
            Jackpot:
          </h4>
          <h3>
            {{jackpot.amount}}
          </h3>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-10">
        <dx-text-area
          [height]="90"
          [(value)]="bet">
        </dx-text-area>
      </div>

      <div class="col-sm-2">
        <dx-button text="bet" width="120" type="default" (onClick)="makeBet()">
        </dx-button>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="d-flex flex-row align-content-center align-content-center">

      <dx-data-grid [dataSource]="currentBets" remoteOperations="false" showBorders="true">

        <dxi-column dataField="id"></dxi-column>
        <dxi-column dataField="betAmount"></dxi-column>
        <dxi-column dataField="wonAmount"></dxi-column>
        <dxi-column dataField="createDate"></dxi-column>
        <dxi-column dataField="status">
          <dxo-lookup
            [dataSource]="betStatuses"
            valueExpr="id"
            displayExpr="text"
          >
          </dxo-lookup>
        </dxi-column>

      </dx-data-grid>
    </div>
  </div>

</div>
