@model Roulette.Identity.Models.LoginViewModel

<div class="login-page">
    <div class="lead">
        <h1>Login</h1>
    </div>

    <partial name="_ValidationSummary"/>

    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Local Account</h2>
                </div>
                <div class="card-body">
                    <form asp-route="Login">
                        <input type="hidden" asp-for="ReturnUrl"/>

                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="RememberLogin">
                                <label class="form-check-label" asp-for="RememberLogin">
                                    Remember My Login
                                </label>
                            </div>
                        </div>

                        <button class="btn btn-primary" name="button" value="login">Login</button>
                        <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                        <a class="btn btn-warning" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>